/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?display=swap&family=Inter:wght@400;500;700;900&family=Noto+Sans:wght@400;500;700;900');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  min-height: 100vh;
  background: #f9fafb;
}

body {
  font-family: Inter, "Noto Sans", sans-serif;
  line-height: 1.6;
  color: #1f2937;
  overflow-x: hidden;
}

.nav-logo-icon {
  width: 2rem;
  height: 2rem;
}

svg.lucide {
  display: block;
  margin: auto;
}